twitter:
    CONSUMER_KEY: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    CONSUMER_SECRET: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    ACCESS_TOKEN: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    ACCESS_SECRET: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

virustotal:
    apikey: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

queries:
    - query1
    - query2
    - query3